h1{
    color:white;
    font-size:50px;
    text-align:center;
    background-color: aquamarine;
}
h2{
    color:white;
    background-color: aqua;
    text-align:center;
}
h3{
    color:green;
}
p{
    color:white;
}
body{
    background-image:url("../images/images.jfif");
    background-repeat:repeat;
    background-attachment: fixed;
    background-position:center;
}
